body {
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(51deg,
            rgba(2, 0, 36, 1) 15%,
            rgba(9, 121, 95, 1) 57%,
            rgba(128, 255, 0, 1) 100%);
}

.blur-background {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-container {
    width: 90%;
    height: 90%;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.2rem;

    padding: 2.2em;
}

.modern-ui {
    position: relative;
    width: 100%;
    height: 100%;

    /* border: 1px solid red; */
    opacity: 1;

    display: flex;
}

#left-ui {
    width: fit-content;
    min-width: 20%;
    padding: 20em;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;

    background-color: white;
}

.content iframe {
    border: none;
    width: 100%;
    height: 100%;

    overflow-x: hidden;

    border-radius: 1.2rem;
}

#search-bar {
    width: 90%;
    height: fit-content;

    border: none;
    border-radius: 3em;
    padding: 0.5em;
    outline: none;

    &:hover,
    &:focus {
        box-shadow: 2px 2px 8px -3px black;
    }
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.collapse {
    width: 0% !important;
}

#content {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;

    a {
        transition: all .2s ease;
        position: absolute;
        bottom: 50%;
        left: 1%;
        font-size: 5rem;
        font-weight: bold;
        color: rgb(0, 0, 0, 0);

        &:hover {
            color: rgb(0, 0, 0, 1);
        }
    }
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: 100% !important;
    height: 100% !important;

    border: none;
    border-radius: 1.2rem;
    background-color: white;
}

.left-controls {
    transition: all .2s ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
        display: flex;
        gap: 20em;

        a {
            transition: all .2s ease;
            text-decoration: none;
            color: black;

            &:hover {
                color: rgb(180, 180, 180);
            }
        }
    }

    button {
        transition: all .2s ease;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        border: none;

        &:hover {
            color: rgb(180, 180, 180);
        }
    }
}